{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<h1 style="margin-left: 15px;">Checkout</h1>
<div class="row d-flex justify-content-between mr-2">

<div class="col-lg-3 ml-2 form-group ">
<form action="." method="post" class="order-form" style="margin-left: 15px; border: 1px solid black; padding: 15px; border-radius: 10px;">
    {{ form.as_p }}
<p><input type="submit" value="Place order" class="btn btn-primary btn-block" style="margin-top: 20px;"></p>
{% csrf_token %}
</form>
</div>
<div class="order-info col-lg-3 " style="background-color: lightgray; height: 5%;" >
    <h3 >Your order</h3>
    <ul>
    {% for item in cart %}
    <li>
        
    {{ item.quantity }}x {{ item.product.name }}
    <span class="float-right">${{ item.total_price }}</span>

    </li>
    {% endfor %}
    {% if cart.coupon %}
<li>
"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
<span class="float-right">- ${{ cart.get_discount|floatformat:"2" }}</span>
</li>
{% endif %}
<hr>
    </ul>
       <p class="float-right">Total: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>
</div>
{% endblock %}